/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-web {
    .c-web__icon--letter {
        width: 41px;
        transform: translate(2px, 6px);
        @include sp {
            width: 22px;
            transform: translate(-1.5px, 6px);
        }
    }

    .c-web__icon--people {
        width: 36px;
        transform: translate(2px, -1px);
        @include sp {
            width: 18px;
            transform: translate(2px, 2px);

        }
    }

    .c-web__icon--note {
        width: 33px;
        transform: translate(1px, 4px);
        @include sp {
            width: 17px;
            transform: translate(-1px, 6px);
        }
    }

    .c-web__icon--document {
        width: 35px;
        transform: translate(0, 7px);
        @include sp {
            width: 18px;
        }
    }

    .c-web__icon--gift { 
        width: 38px;
        transform: translate(1px, 3px);
        @include sp {
            width: 18px;
            transform: translate(-2px, 6px);
        }
    }

    .c-web__icon1 {
        width: 46%;
        margin: 29px 0 19px;
        transform: translateX(-8px);
        @include tab {
            width: 30%;
        }
    } 

    .c-web__icon2 {
        width: 43%;
        margin: 23px 0 27px;
        @include tab {
            width: 27%;
        }
    }

    .c-web__icon3 {
        width: 57%;
        margin: 20px 0 8px;
        @include tab {
            width: 41%;
        }
    }

    .c-web__icon4 {
        width: 67%;
        margin: 56px 0 29px;
        @include tab {
            width: 51%;
        }
    }

    .c-web__icon5 {
        width: 47%;
        margin: 22px 0 16px;
        @include tab {
            width: 31%;
        }
    }

    .c-web__icon6 {
        width: 43%;
        margin: 21px 0 22px;
        @include tab {
            width: 27%;
        }
    }

    .c-web__icon7 {
        width: 38.3%;
        margin: 25px 0 27px;
        @include tab {
            width: 32.3%;
        }
    }

    .c-web__icon8 {
        width: 49.9%;
        margin: 25px 0 19px;
        @include tab {
            width: 33.9%;
        }
    }

    .c-web__icon9 {
        width: 55%;
        margin: 24px 0 17px;
        @include tab {
            width: 39%;
        }
    }

    .c-web__icon10 {
        width: 58%;
        margin: 23px 0 9px;
        @include tab {
            width: 42%;
        }
    }    
}
