/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-icon {
    .c-icon__letter {
        width: 41px;
    }

    .c-icon__people {
        width: 36px;
    }

    .c-icon__note {
        width: 33px;
    }

    .c-icon__document {
        width: 35px;
    }

    .c-icon__gift { 
        width: 38px;
    }
}

