///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
//------------------------------------------------------------
// margin
//------------------------------------------------------------
.c-web {
    .c-web__heading--letter {
        margin-top: 30px;
        transform: translateX(2px);
    }

    .c-web__heading--people {
        margin-top: 22px;
        transform: translateX(2px);
    }

    .c-web__heading--note {
        margin-top: 25px;
        transform: translateX(1px);
    }

    .c-web__heading--document {
        margin-top: 28px;
        transform: translateX(1px);
    }

    .c-web__heading--gift {
        margin-top: 25px;
        transform: translateX(2px);
    }

    .c-web__item--text {
        text-align: center;
        color: $text-color;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: -1px;
        line-height: 1.5;
        transform: translateX(-7px);
    }

    .c-web__item--textedit {
        margin-right: -3px;
        margin-left: -1px;
    }

    .c-web__p--bottom {
        margin-left: -5px;
    }

    .c-web__item2 {
        .c-web__p--top {
            margin-left: -3px;
            letter-spacing: -2px;
        }
    }

    .c-web__item3 {
        .c-web__item--text {
            margin-left: 1px;
        }
    }

    .c-web__item4 {
        .c-web__item--text {
            letter-spacing: -1.5px;
        }

        .c-web__p--top {
            margin-left: 1px;
        }

        .c-web__p--bottom {
            margin-left: -8px;
        }
    }

    .c-web__item5 {
        .c-web__p--top {
            margin-left: 39px;
        }

        .c-web__p--bottom {
            margin-left: 26px;
        }
    }

    .c-web__item6 {
        .c-web__item--text {
            margin-left: -8px;
        }
    }

    .c-web__item7 {
        .c-web__item--text {
            letter-spacing: -1.5px;
        }

        .c-web__p--bottom {
            margin-left: 0;
        }
    }

    .c-web__item8 {
        .c-web__p--top {
            margin-left: -2px;
        }

        .c-web__item--textedit {
            margin-right: 1px;
            margin-left: -7px;
        }

        .c-web__p--bottom {
            margin-left: -2px;
        }
    }

    .c-web__item9 {
        .c-web__p--top {
            margin-left: 5px;
        }

        .c-web__item--textedit {
            letter-spacing: 1px;
            margin-right: 0;
            margin-left: 4px;
        }

        .c-web__p--bottom {
            margin-left: 1px;
        }
    }

    .c-web__item10 {
        .c-web__p--top {
            margin-left: 27px;
        }

        .c-web__p--bottom {
            margin-left: 28px;
        }
    }
}
//------------------------------------------------------------
// color
//------------------------------------------------------------
