/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    margin: 0 auto;

    .c-footer__main {
        max-width: 1200px;
        margin: 0 auto;
    }

    .c-footer__logo {
        margin: 0 auto;
        padding: 59px 0 85px;
        width: 206px;
        display: block;
    }
}
