/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    max-width: $base-width;
    min-width: 375px;
    margin: 0 auto;
    line-height: 1.5;
}

//-------------------------------------------------------

.c-pc {
    @include tab {
        display: none;
    }
}

.c-pctab {
    @include sp {
        display: none;
    }
}

.c-tab {
    display: none;

    @include tab {
        display: block;
    }
}

.c-sp {
    display: none;

    @include sp {
        display: block;
    }
}

.c-spcontent {
    display: none;

    @include sp {
        display: contents;
    }
}

section {
    padding: 50px 0;
}

//-------------------------------------------------------
.l-container {
    width: 100%;
    margin: 0 auto;
}

//-------------------------------------------------------
.c-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-flexend {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include tab {
        flex-wrap: wrap;
    }
}

.c-rowreverse {
    flex-direction: row-reverse;
}

//-----------------section case------------------
.c-case {
    padding: 47px 20px;
    margin: 0 auto;

    @include sp {
        padding: 23px 15px;
    }

    .c-case__title {
        margin-top: 21px;
        color: $title-color;
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0;
        line-height: 2;
        transform: translateX(-1px);

        @include sp {
            font-size: 1.5rem;
        }
    }

    .c-case__titleedit {
        margin-left: 8px;

        @include sp {
            margin-left: 0;
        }
    }

    .c-case__row {
        position: relative;
        max-width: 1546px;
        width: 100%;
        padding: 15px 0;
        margin: 0 auto;

        @include tab {
            max-width: 570px;
        }

        @include sp {
            padding: 7px 10px;
            max-width: 375px;
        }
    }

    .c-case__col {
        width: 30.4%;
        position: relative;
        @include laptop {
            width: 32%;
        }

        @include tab {
            margin: 0 auto;
            width: 100%;
            margin-bottom: 20px;
        }

        @include sp {
            width: 100%;
            margin-bottom: 21px;
        }

        &:last-child {
            @include sp {
                .c-case__label {
                    left: 56.5%;
                    top: -9%;
                }

                .c-case__text {
                    transform: translate(-4px, 1px);
                    letter-spacing: -1.4px;
                }
            }
        }
    }

    .c-case__num {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 21.4rem;
        line-height: 1;
        letter-spacing: 0;
        margin-left: 27px;
        width: 245px;
        color: #ededed;

        &::after {
            content: "case";
            position: absolute;
            letter-spacing: 5.5px;
            font-weight: bold;
            font-size: 2.4rem;
            top: 38.5%;
            left: 23%;
            color: #c7c7c7;

            @include sp {
                letter-spacing: 3.5px;
                top: 38.2%;
                left: 25.4%;
            }
        }

        @include sp {
            font-size: 14.8rem;
            margin-left: 21px;
            width: 100%;

            &::after {
                font-size: 1.7rem;
            }
        }
    }

    .c-case__num02 {
        margin-left: 14px;

        &::after {
            left: 22%;

            @include sp {
                left: 67%;
            }
        }

        @include sp {
            text-align: right;
            margin-left: 0;
        }
    }

    .c-case__num03 {
        margin-left: 11px;

        &::after {
            left: 21%;

            @include sp {
                left: 25%;
                top: 39%;
            }
        }

        @include sp {
            margin-left: 21px;
            margin-top: 1px;
        }
    }

    .c-case__col:nth-child(2) {
        @include sp {
            .c-case__textbox {
                &::before {
                    left: 66%;
                    top: -22%;
                    transform: rotateY(180deg);
                }
            }
        }
    }

    .c-case__textbox {
        position: relative;
        background-color: $title-color;
        max-width: 570px;
        height: 126px;
        padding: 44px 30px;
        border-radius: 10px;
        margin-top: -4px;

        &::before {
            content: "";
            border-width: 0 20px 28px 3px;
            border-style: solid;
            border-color: transparent transparent #000;
            display: block;
            position: absolute;
            top: -21%;
            left: 29%;

            @include sp {
                border-width: 0 14px 19px 2px;
            }
        }
        @include laptop {
            padding: 30px;
        }
        @include tab {
            padding: 45px 30px;
        }

        @include sp {
            margin-top: -3px;
            height: 87px;
            padding: 30px 0;
            border-radius: 5px;
        }
    }

    .c-case__text {
        color: #fff;
        font-size: 2.4rem;
        font-weight: bold;
        letter-spacing: -1.1px;
        line-height: 1.5;
        text-align: center;
        transform: translateX(1px);

        @include sp {
            font-size: 1.7rem;
        }
    }

    .c-case__label {
        display: block;
        width: 212px;
        height: 35px;
        position: absolute;
        background-color: #7a89a8;
        border-radius: 18px;
        top: -13px;
        right: -13px;
        @include sp {
            width: 45.1%;
            height: 26.6%;
            top: -10%;
            left: -1.5%;
        }
    }

    .c-case__labeltext {
        color: #fff;
        letter-spacing: -1.7px;
        line-height: 1.7;
        font-size: 1.8rem;
        font-family: "Noto Serif JP", sans-serif;
        padding-left: 21px;

        @include sp {
            font-size: 1.2rem;
            padding: 5px 15px;
            line-height: 1;
            letter-spacing: -0.7px;
            display: block;
            text-align: center;
            transform: translate(-2px, 0);
        }
    }

    .c-case__labeltextedit {
        padding-left: 39px;
        letter-spacing: 0;

        @include sp {
            padding-left: 22px;
        }
    }
}

.c-model {
    margin: 0 auto;
    padding: 51px 20px 46px;

    @include sp {
        padding: 8.5% 11.5% 7%;
    }

    .c-model__subtitle {
        text-align: center;
        font-size: 3.4rem;
        font-weight: 400;
        color: $text-color;

        @include tab {
            font-size: 2.6rem;
        }

        @include sp {
            font-size: 1.3rem;
            margin: 0 1px;
            line-height: 1.2;
        }
    }

    .c-model__subblue {
        color: $text-blue;
        font-size: 4.6rem;
        font-weight: 400;
        margin-left: 8px;
        font-family: "Noto Serif JP", sans-serif;
        line-height: 1.8;

        @include tab {
            font-size: 3.4rem;
        }

        @include sp {
            font-size: 1.7rem;
            margin-left: 4px;
            line-height: 1.4;
        }
    }

    .c-model__title {
        font-size: 4.8rem;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        text-align: center;
        line-height: 1.9;
        letter-spacing: 4.7px;

        @include sp {
            font-size: 1.2rem;
            letter-spacing: 1px;
            margin-top: 5px;
        }
    }

    .c-model__list {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        padding-top: 65px;

        @include tab {
            max-width: 470px;
            width: 100%;
            margin: 0 auto;
            padding-top: 12px;
        }
    }

    .c-model__item {
        margin-bottom: 86px;

        @include tab {
            margin-bottom: 12%;
        }
        @include sp {
            margin-bottom: 6%;
        }
    }

    .c-model__item:nth-child(2) {
        .c-model__colleft {
            width: 42.5%;
            transform: translate(2%, -5.5%);
            @include tab {
                width: 100%;
                margin: 0 auto;
                padding-left: 0;
            }
            @include sp {
                transform: translate(2%, 0);
            }
        }

        .c-model__colright {
            margin-left: 0;
            margin-right: 13%;
            @include tab {
                margin-right: 0;
            }
        }

        .c-model__merit {
            margin-left: -11%;
            margin-top: 0;

            @include sp {
                margin-left: -4%;
            }
        }

        .c-model__heading {
            margin-left: 5%;
            transform: translateY(-1px);
            @include laptop {
                margin-left: 0;
                transform: translateY(-2px);
            }

            @include sp {
                margin-left: 29px;
            }
        }

        .c-model__text {
            margin-left: -2.8%;
            @include laptop {
                margin-left: 0;
            }

            @include sp {
                margin-left: 30px;
                margin-right: 0;
            }
        }

        .c-model__img {
            margin-left: 0;

            @include sp {
                margin-top: 5%;
            }
        }
    }

    .c-model__item:nth-child(3) {
        .c-model__colleft {
            transform: translateY(-15px);
        }

        .c-model__merit {
            @include sp {
                margin-left: -2%;
                margin-top: 5%;
            }
        }

        .c-model__heading {
            transform: translateY(-2px);
            @include sp {
                margin-left: 35px;
            }
        }

        .c-model__text {
            margin-right: -4%;
            transform: translateY(-1px);

            @include sp {
                margin-right: -16px;
                padding-right: 1px;
                transform: translate(-7px, 1px);
                letter-spacing: 0.9px;
            }
        }

        .c-model__colright {
            @include sp {
                transform: translateY(-14px);
            }
        }
    }

    .c-model__colleft {
        width: 43.5%;
        position: relative;

        @include tab {
            width: 100%;
            margin: 0 auto;
        }
    }

    .c-model__colright {
        width: 44.2%;
        margin-left: 52px;

        @include tab {
            width: 100%;
            margin-left: 0;
        }
    }

    .c-model__merit {
        margin-top: -14%;
        margin-left: -15.5%;
        @include tab {
            margin-top: 0;
            margin-left: -52px;
        }

        @include sp {
            margin-left: 0;
            width: 15.5%;
        }
    }

    .c-model__heading {
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 0;
        color: $text-color;
        line-height: 1.8;
        position: relative;
        display: inline-block;

        &::after {
            position: absolute;
            content: url("./assets/img/icontext.svg");
            @include sp {
                transform: scale(0.5);
            }
        }

        @include sp {
            font-size: 1.4rem;
            transform: translate(41px, -1px);
        }
    }

    .c-model__imgfirst {
        &::after {
            top: -25%;
            right: -6%;
            @include tab {
                right: -9%;
            }
            @include sp {
                top: -53%;
                right: -11%;
            }
        }
    }

    .c-model__imgsecond {
        &::after {
            top: -25%;
            right: -12%;
            @include tab {
                right: -9%;
            }
            @include sp {
                top: -51%;
                right: -17%;
            }
        }
    }

    .c-model__imgthird {
        &::after {
            top: -25%;
            right: -9%;
            @include sp {
                top: -51%;
                right: -13.5%;
            }
        }
    }

    .c-model__headingedit {
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 0;
        color: $text-color;
        line-height: 1.8;
        margin-left: 3px;

        @include sp {
            font-size: 1.4rem;
            margin-left: 1px;
        }
    }

    .c-model__headingblue {
        font-size: 3.6rem;
        letter-spacing: 0;
        color: $text-blue;
        line-height: 1.9;

        @include sp {
            font-size: 1.8rem;
        }
    }

    .c-model__text {
        font-size: 2.1rem;
        color: $text-color;
        letter-spacing: 0.7px;
        line-height: 1.6;
        font-weight: 400;
        margin-top: 15px;

        @include sp {
            font-size: 1rem;
            margin-top: 5px;
            margin-left: 42px;
            margin-right: -5px;
            line-height: 1.7;
            letter-spacing: 0.77px;
        }
    }

    .c-model__laptop {
        @include laptop {
            display: none;
        }
    }

    .c-model__img {

        @include tab {
            margin: 15px auto;
        }
    }   

}

.c-house {
    margin: 0 auto;
    padding: 34px 0 0;

    @include sp {
        padding: 0;
    }

    .c-house__content {
        background-color: #ededed;
        max-width: 1740px;
        padding: 0 0 64px;
        position: relative;
        margin: 0 auto;

        @include sp {
            margin: 0 auto;
            width: 100%;
            padding: 0 10px;
        }
    }

    .c-house__icon {
        width: 26.5%;
        position: absolute;
        top: -22%;
        left: 11.8%;
        z-index: 1;
        @include laptop {
            left: 9.5%;
        }

        @include tab {
            top: unset;
            left: 65.3%;
            bottom: -6.7%;
        }

        @include sp {
            bottom: -6%;
            width: 215px;
            left: auto;
            right: -0.9%;
        }
    }

    .c-house__heading {
        top: -60px;
        right: 2.8%;
        position: absolute;
        z-index: 1;

        @include tab {
            top: -5%;
        }

        @include sp {
            top: -2.3%;
            right: 3.7%;
        }
    }

    .c-house__title {
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 8.2rem;
        letter-spacing: 8.4px;
        line-height: 1;
        color: #000;
        text-align: right;
        @include laptop {
            font-size: 7.2rem;
        }

        @include tab {
            font-size: 6.1rem;
            letter-spacing: 5px;
        }

        @include sp {
            font-size: 3rem;
            letter-spacing: 3.3px;
        }
    }

    .c-house__desc {
        text-align: right;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1;
        transform: translateX(12px);
        padding-top: 3%;

        @include sp {
            transform: translate(9px, 1px);
        }
    }

    .c-house__descblack {
        font-size: 3.4rem;
        font-family: $main-fonts;
        color: $text-color;
        @include laptop {
            font-size: 3rem;
        }

        @include tab {
            font-size: 2.6rem;
        }

        @include sp {
            font-size: 1.3rem;
            margin-right: 2px;
        }
    }

    .c-house__descblue {
        font-size: 4.6rem;
        letter-spacing: 0;
        color: $text-blue;
        font-family: "Noto Serif JP", sans-serif;
        margin-right: 6px;
        margin-left: -6px;
        @include laptop {
            font-size: 4.2rem;
        }

        @include tab {
            font-size: 3.4rem;
        }

        @include sp {
            font-size: 1.7rem;
        }
    }

    .c-house__list {
        padding: 8.4% 4.5% 0;
        margin: 0 auto;

        @include sp {
            padding: 75px 0 108px;
        }
    }

    .c-house__item {
        width: 24%;
        background-color: #fff;
        padding: 22px;
        margin-bottom: 15px;
        @include laptop {
            padding: 16px;
        }

        @include tab {
            width: 48.2%;
            padding: 10px 9.5px 16px 10px;
        }
    }

    .c-house__item:nth-child(n+3) {
        @include sp {
            .c-house__info {
                padding-right: 4px;
            }
        }
    }

    .c-house__name {
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.7;
        color: $text-color;
        margin: 21px 0 11px;

        @include sp {
            font-size: 1.1rem;
            margin: 9.5px 0 4.1px -6px;
            transform: translateX(5.5px);
        }
    }

    .c-house__info {
        font-weight: 300;
        font-size: 1.9rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.4;
        padding: 0 10px 0 2px;
        margin-bottom: 23px;

        @include sp {
            font-size: 1rem;
            padding: 0 6px 0 0;
            line-height: 1.3;
            letter-spacing: -0.5px;
            margin-bottom: 0;
        }
    }

    .c-house__voucher {
        display: block;
        margin: 119px auto 0;
        max-width: 1200px;
        width: 100%;
        @include laptop {
            padding: 0 40px;
            max-width: 900px;
        }

        @include tab {
            margin: 104px auto 0;
            padding: 0 28px;
            max-width: 640px;
        }

        @include sp {
            margin: 16.5% auto 8%;
            max-width: 319px;
        }
    }

    .c-house__bonus {
        display: none;

        @include sp {
            display: contents;
        }
    }
}

.c-design {
    padding-top: 6.4%;
    position: relative;

    @include sp {
        padding-top: 5.3%;
        margin: 0 auto;
    }

    &::after {
        content: "";
        position: absolute;
        max-width: 1204px;
        width: 63%;
        height: 527px;
        bottom: 15%;
        right: 0%;
        z-index: -1;
        background-color: #ededed;
        pointer-events: none;
        @include laptop {
            bottom: 25%;
        }
        @include tab {
            height: 327px;
            bottom: 50%;
        }

        @include sp {
            height: 257px;
        }
    }  

   

    .c-design__slick {
        position: relative;
        width: 1440px;
        max-width: 90%;
        z-index: 1;

        @include sp {
            max-width: 375px;
            width: 96%;
            height: 200px;
        }              
    }

    .slick-arrow {
        position: absolute;
        display: block;
        width: 53px;
        height: 53px;
        bottom: -89px;
        border: none;
        cursor: pointer;
    }

    .slick-prev {
        background-image: url("./assets/img/prev.svg");
        right: 73px;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        @include sp {
            background-image: url("./assets/img/prevsp.svg");
            width: 31px;
            height: 31px;
            right: 12.9%;
            bottom: -21.5%;
        }
    }

    .slick-next {
        background-image: url("./assets/img/next.svg");
        right: 0;

        &:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        @include sp {
            background-image: url("./assets/img/nextsp.svg");
            width: 31px;
            height: 31px;
            bottom: -21.5%;
            right: 0.5%;
        }
    }

    .c-design__slider {
        max-width: 1440px;
        width: 100%;
        overflow: hidden;

        img {
            @include sp {
                height: 200px;
            }
        }
    }

    .c-design__content {
        width: 100%;
        max-width: 1856px;
        padding: 43px 20px 0;
        margin-bottom: 5%;
        position: relative;
        display: flex;
        justify-content: flex-end;

        @include tab {
            flex-direction: column;
            max-width: 820px;
            margin: 0 auto;
            padding: 10% 0 0;
        }

        @include sp {
            max-width: 375px;
            margin: 0 auto;
            padding: 15% 0 0;
        }       
    }

    .c-design__left {
        width: 50%;
        max-width: 700px;
        padding-top: 2.6%;
        position: relative;
        @include tab {
            width: 100%;
            padding: 0 0 0 8.5%;
        }
    }

    .c-design__hr {
        display: block;
        background-color: $text-color;
        width: 57px;
        height: 1px;
        margin: 38px 0 24px;

        @include sp {
            margin: 5.5% 0 4.3%;
            width: 28.5px;
        }
    }

    .c-design__subtitle {
        font-weight: 400;
        font-size: 2.7rem;
        line-height: 1.4;
        color: $text-color;
        letter-spacing: 0;
        padding-left: 1px;

        @include sp {
            font-size: 1.3rem;
            padding-left: 0;
            letter-spacing: 0.5px;
        }
    }

    .c-design__desc {
        font-weight: 300;
        font-size: 1.9rem;
        line-height: 1.8;
        color: $text-color;
        letter-spacing: 0;
        margin-top: 35px;

        @include sp {
            font-size: 1rem;
            margin-top: 5%;
            line-height: 1.75;
        }
    }

    .c-design__right {
        width: 702px;
        height: 390px;
        margin-left: 4%;
        transform: translateY(38%);

        iframe {
            width: 100%;
            height: 100%;
        }

        @include tab {
            width: 100%;
            margin: 0 auto;
            padding: 0 8.5%;
            transform: translateY(10%);
        }

        @include sp {
            width: 367px;
            height: 168px;
            margin: 9% auto 0;
        }
    }

}

.c-plan {
    margin: 0 auto;
    max-width: 1200px;
    padding: 4.7% 0 4.8%;

    @include sp {
        padding: 5.5% 1.5% 12%;
        max-width: 375px;
    }

    .c-plan__title {
        text-align: center;
    }

    .c-plan__hr {
        display: block;
        background-color: $text-color;
        height: 1px;
        width: 60px;
        margin: 35px auto 0;

        @include sp {
            width: 28.5px;
            margin: 5% auto 0;
        }
    }

    .c-plan__design {
        margin: 0 auto;
        padding-top: 7.6%;

        @include sp {
            margin: 0 auto;
            padding: 23px 0 25px;
        }
    }

    .c-plan__col {
        width: 50%;
        position: relative;

        &:last-child {
            .c-plan__itemsvg {
                @include sp {
                    margin-left: 14.5%;
                    margin-top: 2%;
                }
            }
        }
    }

    .c-plan__item {
        @include sp {
            transform: translateX(5px);
        }
    }

    .c-plan__itemsvg {
        width: 44px;
        margin-left: 46.3%;

        @include sp {
            width: 14.5%;
            margin-left: 5.5%;
        }
    }

    .c-plan__detail {
        max-width: 1200px;
        margin: 50px auto 0;
        padding: 0 70px;
        display: flex;
        justify-content: space-between;
        @include laptop {
            flex-direction: column;
            max-width: 600px;
        }

        @include sp {
            max-width: 200px;
            margin: 5.5% auto 0;
            padding: 0;
        }
    }

    .c-plan__detailitem {
        width: 33.33%;
        display: inline-flex;
        margin-left: 2.5%;
        @include laptop {
            width: 100%;
        }

        @include sp {
            margin-left: 9.5%;

            &:first-child {
                transform: translateY(-1px);
            }
        }
    }

    .c-plan__detailp {
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 1.7;
        letter-spacing: 0;

        @include sp {
            font-size: 1.2rem;
        }
    }

    .c-plan__detailpright {
        margin-left: 8%;

        @include sp {
            margin-left: 6%;
        }
    }

    .c-plan__detailitem:nth-child(2) {
        margin-left: 17px;

        @include sp {
            margin-left: 9.5%;
        }

        .c-plan__detailpright {
            margin-left: 7%;

            @include sp {
                margin-left: 4.5%;
            }
        }
    }

    .c-plan__detailitem:nth-child(3) {
        margin-left: 15px;

        @include sp {
            margin-left: 9.5%;
            transform: translateY(1px);
        }

        .c-plan__detailpright {
            margin-left: 6.5%;
            @include sp {
                margin-left: 4.5%;
            }
        }
    }

    .c-plan__detailedit {
        margin-left: -12px;
        @include tab {
            margin-left: -8px;
        }
    }

    .c-plan__table {
        margin-top: 7.6%;
        @include laptop {
            padding: 0 40px;
        }

        @include sp {
            margin-top: 4.3%;
            padding: 0;
        }
    }

    .c-plan__tr {
        padding: 30px 0 8px 10px;
        border-bottom: 1px solid #cbcbcb;
        font-family: $main-fonts;
        font-weight: 300;
        margin-left: 5px;
        color: $text-color;

        @include sp {
            padding: 4% 0 1% 1.5%;
            margin-left: 2.5%;
        }
    }

    .c-plan__th {
        width: 10%;
        font-size: 2.5rem;
        letter-spacing: -1.5px;
        line-height: 1.7;
        @include laptop {
            width: 18%;
        }

        @include sp {
            font-size: 1.2rem;
            width: 20%;
            letter-spacing: 0;
        }
    }

    .c-plan__thedit {
        margin: 0 -4px;

        @include sp {
            margin: 0 -2px;
        }
    }

    .c-plan__td {
        width: 90%;
        font-size: 2.5rem;
        letter-spacing: 0;
        line-height: 1.7;
        padding-left: 13.4%;
        @include laptop {
            width: 82%;
        }

        @include sp {
            font-size: 1.2rem;
            padding-left: 15.5%;
            width: 80%;
        }
    }

    .c-plan__tr:nth-child(3) {
        padding-bottom: 6px;

        @include sp {
            padding-bottom: 13px;
        }

        .c-plan__th {
            @include sp {
                margin-top: 1.5%;
            }
        }

        .c-plan__td {
            padding-left: 12.4%;
            margin-top: -8px;

            @include sp {
                padding-left: 13.7%;
                margin-top: -6px;
            }
        }

        .c-plan__tag:nth-child(2) {
            padding-right: 18px;

            @include sp {
                padding-right: 7px;
                padding-left: 7px;
            }
        }

        .c-plan__tag:nth-child(3) {
            @include sp {
                padding-right: 7px;
                margin-right: 5px;
                padding-left: 5.5px;
            }
        }

        .c-plan__tag:nth-child(4) {
            @include sp {
                margin-right: -1px;
            }
        }

        .c-plan__tag:nth-child(5) {
            padding-right: 18px;
            padding-left: 17px;

            @include sp {
                padding-right: 7px;
                padding-left: 7px;
            }
        }

    }

    .c-plan__tr:nth-child(4) {
        @include sp {
            padding-bottom: 11px;
        }

        .c-plan__th {
            @include sp {
                margin-top: -6px;
                margin-left: 1px;
            }
        }

        .c-plan__td {
            padding-left: 12.4%;
            margin-top: -6px;

            @include sp {
                padding-left: 13.5%;
                margin-top: -6px;
                margin-left: -1px;
            }
        }

        .c-plan__tag:nth-child(1) {
            padding-right: 20px;

            @include sp {
                padding-right: 9px;
            }
        }

        .c-plan__tag:nth-child(2) {
            padding-right: 12px;

            @include sp {
                padding-right: 4px;
                padding-left: 6px;
            }
        }

        .c-plan__tag:nth-child(3) {

            @include sp {
                padding-right: 7px;
                padding-left: 7px;
            }
        }
    }

    .c-plan__tag {
        font-size: 2rem;
        line-height: 1;
        letter-spacing: 0;
        display: inline-block;
        padding: 6px 16px 9px;
        border: 1px solid #cbcbcb;
        border-radius: 4px;
        margin-right: 15px;

        @include sp {
            font-size: 0.9rem;
            padding: 2px 5px 4.5px;
            margin-right: 5px;
            border-radius: 2px;
            letter-spacing: -0.2px;
        }
    }

    .c-plan__tagtext {
        font-size: 2rem;
        line-height: 1;
        margin-left: -6px;

        @include sp {
            font-size: 0.9rem;
            margin-left: -2px;
        }
    }

    .c-plan__tagedit {
        font-size: 2rem;
        line-height: 1;
        margin: 0 -5px;

        @include sp {
            font-size: 0.9rem;
            margin: 0 -2px;
        }
    }

    .c-plan__tagdot {
        font-size: 2rem;
        line-height: 1;
        margin-right: -10px;

        @include sp {
            font-size: 0.9rem;
            margin-right: -5px;
        }
    }
}

.c-finance {
    padding: 106px 0 58px;
    margin: 0 auto;
    background-color: #ededed;

    @include tab {
        padding: 41px 0 32px;
    }

    .c-finance__title {
        text-align: center;
    }

    .c-finance__hr {
        width: 57px;
        height: 1px;
        display: block;
        background-color: $text-color;
        margin: 37px auto -37px;

        @include sp {
            width: 28.5px;
            margin: 19px auto 28px;
        }

    }

    .c-finance__subtitle {
        display: block;
        margin: 95px auto 46px;
        background-color: $text-color;
        color: #fff;
        font-size: 3rem;
        letter-spacing: 0;
        line-height: 1;
        padding: 14px 60px 22px;
        text-align: center;
        width: 410px;

        @include sp {
            width: 204px;
            font-size: 1.5rem;
            padding: 6px 0 12px;
            margin: 0 auto;
        }
    }

    .c-finance__subtitleedit {
        color: #fff;
        font-size: 3rem;
        letter-spacing: 0;
        line-height: 1;
        margin-left: -2px;
        margin-right: 7px;

        @include sp {
            font-size: 1.5rem;
            margin-left: -4px;
            margin-right: 4px;
        }
    }

    .c-finance__static {
        margin: 0 auto;
        max-width: 1430px;
        width: 100%;
        padding: 0 45px;

        @include tab {
            max-width: 802px;
            padding: 0 30px;
        }

        @include sp {
            max-width: 302px;
            padding: 0;
            margin: 22px auto 0;
        }
    }

    .c-finance__col {
        position: relative;
        width: 605px;
        height: 432px;
        background-color: #fff;
        margin: 0 auto 50px;

        @include tab {
            margin: 0 auto 28.5px;
        }

        @include sp {
            height: 216px;
        }

        &:last-child {
            &::after {
                content: url("assets/img/iconpayment.svg");
                width: 206px;
                position: absolute;
                z-index: 1;
                top: -5%;
                right: -7.2%;

                @include sp {
                    right: -7%;
                    width: 34%;
                    top: -4.5%;
                }
            }
        }
    }

    .c-finance__content {
        position: absolute;
        margin: 0 auto;
        top: 53.5%;
        left: 50.8%;
        transform: translate(-50%, -50%);
        width: 72%;

        @include sp {
            top: 57.8%;
            left: 50%;
        }
    }

    .c-finance__content2 {
        position: absolute;
        margin: 0 auto;
        top: 47%;
        left: 49.5%;
        transform: translate(-50%, -50%);
        width: 70%;

    }

    .c-finance__listing {
        font-weight: 400;
        font-size: 2.2rem;
        letter-spacing: 0;
        line-height: 1;
        margin-bottom: 55px;

        @include sp {
            font-size: 1.1rem;
            margin-bottom: 23.5px;
        }
    }

    .c-finance__listingedit {
        margin-right: 6px;

        @include sp {
            margin-right: 3px;
        }
    }

    .c-finance__text {
        font-weight: bold;
        font-size: 2.6rem;
        line-height: 1;
        letter-spacing: 0;
        margin: 28px 0 0 6px;

        @include sp {
            font-size: 1.3rem;
            margin: 6% 0 0 1.5%;
        }
    }

    .c-finance__number {
        color: #7a89a8;
        font-weight: bold;
        font-size: 9rem;
        letter-spacing: 0;
        line-height: 1.6;

        @include sp {
            font-size: 4.5rem;
            transform: translateY(1px);
        }

    }

    .c-finance__unit {
        font-size: 3.6rem;
        display: inline-block;
        transform: translate(0, -5px);

        @include sp {
            font-size: 1.8rem;
            margin-left: 4px;
            transform: translate(0, 1px);
        }
    }

    .c-finance__textnote {
        font-size: 2.2rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.7;
        font-weight: 400;
        margin-top: 11px;

        @include sp {
            font-size: 1.1rem;
            margin-top: 6px;
        }
    }
}

.c-web {
    margin: 55px auto;
    padding: 0 20px;

    @include sp {
        margin: 48px auto 0;
        max-width: 375px;
        width: 100%;
    }

    .c-web__title {
        text-align: center;
        font-weight: 400;
        margin-bottom: 14px;
        line-height: 1.9;

        @include sp {
            margin: 0 auto;
            line-height: 1;
            transform: translate(-1px, -1px);
        }
    }

    .c-web__titleblack {
        font-size: 3.4rem;
        letter-spacing: 0;
        color: $text-color;

        @include sp {
            font-size: 1.7rem;
        }
    }

    .c-web__titleblue {
        font-family: "Noto Serif JP", sans-serif;
        font-size: 4.6rem;
        letter-spacing: 11.5px;
        color: $text-blue;

        @include sp {
            font-size: 2.3rem;
            letter-spacing: 5.5px;
        }
    }

    .c-web__subtitle {
        color: $text-color;
        font-weight: 300;
        font-size: 2.7rem;
        letter-spacing: 0;
        line-height: 1.4;
        text-align: center;
        transform: translate(0, 3px);

        @include sp {
            font-size: 1.4rem;
            letter-spacing: -0.5px;
            transform: translate(-1px, 18px);
        }
    }

    .c-web__subtitleok {
        margin-left: 7px;

        @include sp {
            margin-left: 4px;
        }
    }

    .c-web__subtitlebottom {
        transform: translate(5px, 3px);

        @include sp {
            transform: translate(2px, 17px);
        }
    }

    .c-web__progress {
        margin: 4% auto 6.5%;
        max-width: 1686px;
        width: 100%;

        @include sp {
            margin: 15.7% auto 11.8%;
            max-width: 375px;
        }
    }

    .c-web__step {
        width: 17.03%;
        padding: 50px 0 48px;
        position: relative;
        color: #fff;

        &:nth-child(1) {
            background-color: $text-color;
        }

        &:nth-child(n+2) {
            background-color: #565f64;
        }

        &:nth-child(5) {
            background-color: #7a89a8;
        }
        @include laptop {
            width: 17.5%;
        }

        @include tab {
            width: 43%;
            margin-right: 5%;
            margin-bottom: 7%;
            padding: 3.5% 0 3%;
        }

        @include sp {
            padding: 6.4% 0 0%;
        }

    }

    .c-web__stepicon {
        margin: 0 auto;
        display: block;
    }

    .c-web__stepstep {
        text-align: center;
        font-family: $main-fonts;
        font-weight: 400;
        font-size: 2.1rem;
        letter-spacing: 0;
        line-height: 1.7;

        @include sp {
            font-size: 1.1rem;
            line-height: 1;
            letter-spacing: -0.2px;
        }
    }

    .c-web__stepdesc {
        text-align: center;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 1.7;
        border-top: 1px solid #fff;
        margin: 10px 23px 0;
        transform: translateX(2px);
        padding-top: 14px;

        @include sp {
            font-size: 0.8rem;
            margin: 16px 10px 27px 16px;
            padding-top: 9px;
            line-height: 1;
            transform: translateX(-6px);
        }
    }

    .c-web__stepsvg {
        width: 8px;
        position: absolute;
        top: 48%;
        right: -12.5%;
        @include tab {
            right: -10.5%;
        }

        @include sp {
            right: -12.5%;
            top: 47%;
            width: 5px;
        }
    }

    .c-web__notify {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        border: 1px solid $text-color;

        @include tab {
            max-width: 820px;
        }

        @include sp {
            max-width: 334px;
            margin: 0 auto;
        }
    }

    .c-web__top {
        background-color: $text-color;
        padding: 41px 0 44px;

        @include sp {
            padding: 2% 0 9.5%;
        }
    }

    .c-web__topheading {
        margin-left: 90px;
        margin-top: 20px;
        display: flex;
        @include laptop {
            flex-direction: column;
            margin: 20px auto 0;
            padding: 0 10px;
        }

        @include sp {
            max-width: 300px;
        }
    }

    .c-web__topbtn {
        border-radius: 23px;
        background-color: #fff;
        color: $text-color;
        font-family: $main-fonts;
        font-weight: bold;
        font-size: 2.3rem;
        line-height: 2.1;
        letter-spacing: 0;
        width: 238px;
        height: 52px;
        text-align: center;
        transform: translate(-1px, 0);
        margin-right: 4.8%;
        @include laptop {
            margin: 0 auto;
        }

        @include tab {
            min-width: 260px;
            max-height: 54px;
        }

        @include sp {
            font-size: 1.2rem;
            height: 25px;
            width: 120px;
            min-width: unset;
            border-radius: 12px;
            line-height: 2;
            letter-spacing: -0.5px;
        }
    }

    .c-web__toptitle {
        font-weight: 300;
        font-size: 3.2rem;
        letter-spacing: 2px;
        line-height: 1.7;
        color: #fff;
        transform: translate(-1px, -5px);
        @include laptop {
            margin: 2% auto 0;
            text-align: center;
        }

        @include sp {
            font-size: 1.6rem;
            text-align: center;
            line-height: 1.2;
            margin: 5.7% auto 0;
            letter-spacing: 1.2px;
            transform: translate(0, -8px);
        }
    }

    .c-web__toptitleedit {
        margin-left: -5px;
        margin-right: 5px;
        font-weight: 300;
        font-size: 3.2rem;
        letter-spacing: 2px;
        line-height: 1.7;
        color: #fff;

        @include sp {
            font-size: 1.6rem;
            text-align: center;
            line-height: 1.2;
            letter-spacing: 1.2px;
            margin-left: -1px;
            margin-right: -2px;
        }
    }

    .c-web__toptitlebottom {
        @include sp {
            margin-left: -1px;
            letter-spacing: 1.5px;
        }
    }

    .c-web__toptitlebottom2 {
        @include sp {
            margin-left: -1px;
            letter-spacing: -0.4px;
        }
    }

    .c-web__topdesc {
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0.1px;
        color: #fff;
        margin-left: 96px;
        margin-top: 14px;

        @include laptop {
            margin: 0 auto;
            text-align: center;
            padding: 0 10px;
        }

        @include sp {
            font-size: 1rem;
            line-height: 1.6;
            transform: translate(-1px, 0);
            letter-spacing: 0.2px;
        }
    }

    .c-web__topdescmd {
        @include sp {
            margin-left: 1px;
            margin-right: -2px;
        }
    }

    .c-web__topdescbt {
        @include sp {
            margin-left: 6px;
            line-height: 1.7;
            letter-spacing: 0.3px;
        }
    }

    .c-web__topdescedit {
        margin-left: -9px;
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0.1px;
        color: #fff;
        margin-right: 4px;

        @include sp {
            font-size: 1rem;
        }
    }

    .c-web__table {
        padding: 37px 41px 48px;
        display: flex;

        @include tab {
            flex-direction: column;
        }

        @include sp {
            padding: 37px 21px 36px;
        }
    }

    .c-web__tablegroup {
        width: 45%;

        @include tab {
            width: 100%;
        }
    }

    .c-web__groupcol {
        width: 20%;

        .c-web__tabletd {
            width: 100%;
        }

        @include tab {
            width: 100%;
            display: flex;
        }
    }

    .c-web__group {
        display: flex;

        &:first-child {
            border-bottom: 1px solid #aeaeae;
        }
    }

    .c-web__tabletd {
        height: 208px;
        width: 50%;
        border-right: 1px solid #aeaeae;
        text-align: center;

        @include tab {
            height: unset;
            padding-bottom: 15px;
        }

        @include sp {
            height: 126px;
            padding-bottom: 0;
        }
    }

    .c-web__itemtext {
        text-align: center;
        color: $text-color;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: -1px;
        line-height: 1.5;
        transform: translateX(-8px);

        @include sp {
            font-size: 0.9rem;
            letter-spacing: -1.7px;
            line-height: 1.6;
            transform: translateX(-9px);
        }
    }
}

.c-contact {
    padding: 53px 0 26px;
    margin: 0 auto;

    @include sp {
        margin: 124px auto 0;
        padding: 0;
    }

    .c-contact__content {
        margin-bottom: 85px;

        @include sp {
            margin-bottom: 7.5%;
        }
    }

    .c-contact__map {
        width: 50%;
        height: 702px;

        iframe {
            width: 100%;
            height: 100%;
        }

        @include laptop {
            width: 100%;
        }

        @include sp {
            height: 290px;
        }
    }

    .c-contact__info {
        width: 50%;
        background-color: #ededed;
        padding: 1.5%;
        margin: 0 auto;

        @include laptop {
            width: 100%;
            padding: 1.5%;
        }
        @include sp {
            padding: 1.5% 1.5% 9.2%;
        }
    }

    .c-contact__infowrapper {
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
        padding-top: 0.6%;

        @include sp {
            width: 90%;
        }
    }


    .c-contact__title {
        text-align: center;
        color: #000;
        font-family: "Oswald", sans-serif;
        font-size: 4.8rem;
        font-weight: 300;
        letter-spacing: 5px;
        margin-bottom: 1.7%;
        margin-top: 18.5%;
        padding-right: 9.5%;

        @include laptop {
            margin-top: 0;
        }

        @include sp {
            font-size: 2.4rem;
            letter-spacing: 2.4px;
            margin-top: 9%;
            padding-right: unset;
            transform: translateX(9px);
            margin-bottom: -0.5%;
        }
    }

    .c-contact__hr {
        display: block;
        background-color: #000;
        width: 74px;
        height: 1px;
        margin: 16px auto 34px;
        transform: translateX(-32px);

        @include sp {
            width: 37px;
            transform: translateX(7px);
            margin: 16px auto;
        }

    }

    .c-contact__desc {
        text-align: center;
        color: #000;
        font-weight: 300;
        font-size: 2.8rem;
        letter-spacing: -0.2px;
        line-height: 1;
        transform: translateX(-32px);

        @include sp {
            font-size: 1.4rem;
            transform: translateX(9px);
            letter-spacing: 0.3px;
        }
    }

    .c-contact__table {
        margin-top: 15.5%;
        margin-left: -15.7%;

        @include sp {
            margin: 46px auto 0;
            padding: 0 10%;
            width: 100%;
            max-width: 400px;
        }
    }

    .c-contact__tr {
        margin-bottom: 12px;

        &:first-child {
            .c-contact__td {
                margin-top: -3px;

                @include sp {
                    margin-top: -1px;
                }
            }
        }

        &:nth-child(2) {
            .c-contact__td {
                @include sp {
                    transform: translate(-1px, 0);
                }
            }
        }

        &:nth-child(3) {
            .c-contact__td {
                padding-top: 2px;

                @include sp {
                    padding-top: 1px;
                }
            }
        }

        @include sp {
            margin-bottom: 6px;
        }
    }


    .c-contact__td {
        width: 360px;
        color: #000;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1.8;
        letter-spacing: 0;
        margin-left: 21px;

        @include sp {
            font-size: 1.3rem;
            margin-left: 13.5px;
            width: 71%;
        }
    }

    .c-contact__tdedit {
        margin-left: -10px;
    }

    .c-contact__tdtext {
        width: 120px;
        height: 47px;
        background-color: #565f64;
        color: #fff;
        font-size: 2.5rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 400;
        text-align: center;
        padding: 9px 0;
        display: block;

        @include sp {
            font-size: 1.3rem;
            width: 60px;
            height: 23.5px;
            padding: 5px 0;
            transform: translateX(5.5px);
        }
    }

    .c-contact__note {
        margin-left: 21%;
        margin-top: -0.5%;
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;

        @include sp {
            font-size: 0.8rem;
            transform: translate(21px, 0);

        }
    }

    .c-contact__noteedit {
        margin-right: 20px;
        margin-left: -1px;
    }

    .c-contact__voucher {
        max-width: 1200px;
        width: 100%;
        display: block;
        margin: 4.7% auto 4.6%;

        @include laptop {
            max-width: 640px;
        }

        @include sp {
            max-width: 319px;
            margin: 0 auto 4.5%;
        }
    }

    .c-contact__btn {
        display: block;
        max-width: 1200px;
        border: 1px solid #000;
        margin: 0 auto;
        padding: 5.6% 0 5.4%;
        font-size: 4.8rem;
        font-weight: 300;
        letter-spacing: 4.7px;
        line-height: 1.5;
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        text-align: center;
        @include laptop {
            max-width: 640px;
        }

        @include sp {
            font-size: 2.4rem;
            max-width: 319px;
            letter-spacing: 2.4px;
            padding: 42px 0 32px;
        }
    }



}
