/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    max-width: $base-width;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;

}

//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
    padding: 50px 0;
}

//-------------------------------------------------------
.l-container {
    max-width: $base-width;
    margin: 0 auto;

    @include sp {
        max-width: 375px;
    }
}

//-------------------------------------------------------
.c-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-row--reverse {
    flex-direction: row-reverse;
}

//-----------------section case------------------
.c-case {
    padding: 50px 40px;

    .c-case__title {
        margin-top: 19px;
        font-family: "Noto Sans JP", sans-serif;
        color: $title-color;
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0;
        line-height: 2;
    }

    .c-case__titleedit {
        margin-left: 8px;
    }

    .c-case__row {
        position: relative;
        max-width: 1546px;
        width: 100%;
        min-width: 375px;
        margin: auto;
        padding: 14px 0;
    }

    .c-case__col {
        width: 470px;
        position: relative;
    }

    .c-case__num {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 21.4rem;
        line-height: 1;
        letter-spacing: 0;
        margin-left: 27px;
        width: 245px;
        color: #ededed;

        &::after {
            content: "case";
            position: absolute;
            letter-spacing: 5.5px;
            font-weight: bold;
            font-size: 2.4rem;
            top: 38.5%;
            left: 23%;
            color: #c7c7c7;
        }
    }

    .c-case__num--02 {
        margin-left: 14px;

        &::after {
            left: 22%;
        }
    }

    .c-case__num--03 {
        margin-left: 11px;

        &::after {
            left: 21%;
        }
    }


    .c-case__textbox {
        position: relative;
        background-color: $title-color;
        width: 470px;
        height: 126px;
        padding: 44px 0;
        border-radius: 10px;
        margin-top: -5px;


        &:hover {
            opacity: 0.75;
            filter: blur(5px);
            box-shadow: 7px 7px #68696c;
        }

        &:focus {
            opacity: 0.75;
            filter: blur(5px);
            box-shadow: 7px 7px #68696c;
        }

        &::before {
            content: "";
            border-width: 0 20px 28px 3px;
            border-style: solid;
            border-color: transparent transparent #000;
            display: block;
            position: absolute;
            top: -21%;
            left: 29%;
        }
    }

    .c-case__text {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 900;
        letter-spacing: -1.1px;
        line-height: 1.5;
    }

    .c-case__label {
        display: block;
        width: 212px;
        height: 35px;
        position: absolute;
        background-color: #7a89a8;
        border-radius: 18px;
        top: -12px;
        right: -13px;
    }

    .c-case__label--text {
        color: #fff;
        letter-spacing: -1.7px;
        line-height: 1.7;
        font-size: 1.8rem;
        font-family: "Noto Serif JP", sans-serif;
        padding-left: 21px;
    }

    .c-case__label--textedit {
        padding-left: 39px;
        letter-spacing: 0;
    }

    .c-case01 {
        padding-left: 45px;
    }

    .c-case02 {
        padding-left: 93px;
    }

    .c-case03 {
        padding-left: 46px;
        letter-spacing: -1.8px;
    }
}

.c-model {
    margin: 0 auto;
    padding: 45px 358px;

    .c-model__subtitle {
        text-align: center;
        font-size: 3.4rem;
        font-weight: 400;
        font-family: "Noto Sans JP", sans-serif;
        color: $text-color;
    }

    .c-model__subblue {
        color: $text-blue;
        font-size: 4.6rem;
        font-weight: 400;
        font-family: "Noto Serif JP", sans-serif;
        margin-left: 10px;
    }

    .c-model__title {
        font-size: 4.8rem;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        text-align: center;
        line-height: 1.7;
        letter-spacing: 4.7px;
    }

    .c-model__item {
        padding-top: 95.7px;
    }

    .c-model__colleft {
        width: 50%;
    }

    .c-model__colright {
        width: 50%;
    }

    .c-model__heading {
        font-family: "Noto Sans JP", sans-serif;
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 1px;
        color: $text-color;
        line-height: 1.7;

        &::after {
            content: url("./assets/img/icontext.svg");
        }
    }

    .c-model__heading--blue {
        font-size: 3.6rem;
        letter-spacing: 0;
        color: $text-blue;
    }

    .c-model__text {
        font-family: "Noto Sans JP", sans-serif;
        font-size: 2.1rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-model__img {
        width: 530px;
    }

}

.c-house {
    margin: 100px auto 0;
    padding: 0 90px;

    .c-house__content {
        background-color: #ededed;
        max-width: 1740px;
        padding: 0 78.5px 77px;
    }

    .c-house__title {
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 8.2rem;
        letter-spacing: 2px;
        line-height: 1;
        color: #000;
        text-align: right;
        position: relative;
        top: -55px;
    }

    .c-house__desc {
        display: block;
        font-family: "Noto Sans JP", sans-serif;
        font-weight: 400;
        font-size: 3.4rem;
        letter-spacing: 0;
        line-height: 1;
        color: $text-color;
        text-align: right;
    }

    .c-house__desc--blue {
        font-family: "Noto Serif JP", sans-serif;
        font-size: 4.6rem;
        letter-spacing: 0;
        line-height: 2.5;
        color: $text-blue;
    }

    .c-house__item {
        width: 377px;
        background-color: #fff;
        padding: 20px;
    }

    .c-house__name {
        font-size: 2.3rem;
        font-family: "Noto Sans Jp", sans-serif;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.7;
        color: $text-color;
        margin: 25px 0 15px;
    }

    .c-house__info {
        font-size: 300;
        font-family: "Noto Sans Jp", sans-serif;
        font-size: 1.9rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-house__voucher {
        display: block;
        margin: 119px auto;
        padding: 0 360px;
    }
}

.c-slider {
    max-width: 1440px;

    .c-slider__slide {
        width: 1440px;
        height: 683px;
    }
}
