/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    max-width: $base-width;
    min-width: 375px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;

}

//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
    padding: 50px 0;
}

//-------------------------------------------------------
.l-container {
    max-width: $base-width;
    margin: 0 auto;

    @include sp {
        max-width: 375px;
    }
}

//-------------------------------------------------------
.c-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.c-row--reverse {
    flex-direction: row-reverse;
}

//-----------------section case------------------
.c-case {
    padding: 50px 40px;

    .c-case__title {
        margin-top: 19px;
        color: $title-color;
        font-size: 3.6rem;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0;
        line-height: 2;
    }

    .c-case__titleedit {
        margin-left: 8px;
    }

    .c-case__row {
        position: relative;
        max-width: 1546px;
        width: 100%;
        min-width: 375px;
        margin: auto;
        padding: 14px 0;
    }

    .c-case__col {
        width: 470px;
        position: relative;
    }

    .c-case__num {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 21.4rem;
        line-height: 1;
        letter-spacing: 0;
        margin-left: 27px;
        width: 245px;
        color: #ededed;

        &::after {
            content: "case";
            position: absolute;
            letter-spacing: 5.5px;
            font-weight: bold;
            font-size: 2.4rem;
            top: 38.5%;
            left: 23%;
            color: #c7c7c7;
        }
    }

    .c-case__num--02 {
        margin-left: 14px;

        &::after {
            left: 22%;
        }
    }

    .c-case__num--03 {
        margin-left: 11px;

        &::after {
            left: 21%;
        }
    }


    .c-case__textbox {
        position: relative;
        background-color: $title-color;
        width: 470px;
        height: 126px;
        padding: 44px 0;
        border-radius: 10px;
        margin-top: -5px;


        &:hover {
            opacity: 0.75;
            filter: blur(5px);
            box-shadow: 7px 7px #68696c;
        }

        &:focus {
            opacity: 0.75;
            filter: blur(5px);
            box-shadow: 7px 7px #68696c;
        }

        &::before {
            content: "";
            border-width: 0 20px 28px 3px;
            border-style: solid;
            border-color: transparent transparent #000;
            display: block;
            position: absolute;
            top: -21%;
            left: 29%;
        }
    }

    .c-case__text {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 900;
        letter-spacing: -1.1px;
        line-height: 1.5;
    }

    .c-case__label {
        display: block;
        width: 212px;
        height: 35px;
        position: absolute;
        background-color: #7a89a8;
        border-radius: 18px;
        top: -12px;
        right: -13px;
    }

    .c-case__label--text {
        color: #fff;
        letter-spacing: -1.7px;
        line-height: 1.7;
        font-size: 1.8rem;
        font-family: "Noto Serif JP", sans-serif;
        padding-left: 21px;
    }

    .c-case__label--textedit {
        padding-left: 39px;
        letter-spacing: 0;
    }

    .c-case01 {
        padding-left: 45px;
    }

    .c-case02 {
        padding-left: 93px;
    }

    .c-case03 {
        padding-left: 46px;
        letter-spacing: -1.8px;
    }
}

.c-model {
    margin: 0 auto;
    padding: 45px 358px;

    .c-model__subtitle {
        text-align: center;
        font-size: 3.4rem;
        font-weight: 400;
        color: $text-color;
    }

    .c-model__subblue {
        color: $text-blue;
        font-size: 4.6rem;
        font-weight: 400;
        margin-left: 10px;
    }

    .c-model__title {
        font-size: 4.8rem;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        text-align: center;
        line-height: 1.7;
        letter-spacing: 4.7px;
    }

    .c-model__item {
        padding-top: 95.7px;
    }

    .c-model__colleft {
        width: 50%;
    }

    .c-model__colright {
        width: 50%;
    }

    .c-model__heading {
        font-weight: bold;
        font-size: 2.8rem;
        letter-spacing: 1px;
        color: $text-color;
        line-height: 1.7;

        &::after {
            content: url("./assets/img/icontext.svg");
        }
    }

    .c-model__heading--blue {
        font-size: 3.6rem;
        letter-spacing: 0;
        color: $text-blue;
    }

    .c-model__text {
        font-size: 2.1rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-model__img {
        width: 530px;
    }

}

.c-house {
    margin: 100px auto 0;
    padding: 0 90px;

    .c-house__content {
        background-color: #ededed;
        max-width: 1740px;
        padding: 0 78.5px 77px;
    }

    .c-house__title {
        text-transform: uppercase;
        font-family: "Oswald", sans-serif;
        font-weight: 300;
        font-size: 8.2rem;
        letter-spacing: 2px;
        line-height: 1;
        color: #000;
        text-align: right;
        position: relative;
        top: -55px;
    }

    .c-house__desc {
        display: block;
        font-weight: 400;
        font-size: 3.4rem;
        letter-spacing: 0;
        line-height: 1;
        color: $text-color;
        text-align: right;
    }

    .c-house__desc--blue {
        font-size: 4.6rem;
        letter-spacing: 0;
        line-height: 2.5;
        color: $text-blue;
    }

    .c-house__item {
        width: 377px;
        background-color: #fff;
        padding: 20px;
    }

    .c-house__name {
        font-size: 2.3rem;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.7;
        color: $text-color;
        margin: 25px 0 15px;
    }

    .c-house__info {
        font-size: 300;
        font-family: "Noto Sans Jp", sans-serif;
        font-size: 1.9rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-house__voucher {
        display: block;
        margin: 119px auto;
        padding: 0 360px;
    }
}

.c-design {
    .c-design__slick {
        position: relative;
        width: 1440px;

        &::after {
            content: "";
            position: absolute;
            width: 1205px;
            height: 527px;
            top: 83.5%;
            right: -33.5%;
            z-index: -1;
            background-color: #ededed;
        }
    }

    .c-design__prev {
        position: absolute;
        background-image: url("./assets/img/prev.svg");
        display: block;
        width: 53px;
        height: 53px;
        cursor: pointer;
        right: 73px;
        bottom: -89px;
    }

    .c-design__next {
        position: absolute;
        background-image: url("./assets/img/next.svg");
        display: block;
        width: 53px;
        height: 53px;
        cursor: pointer;
        bottom: -89px;
        right: 0;
    }

    .c-design__slider {
        max-width: 1440px;
    }

    .c-design__slider--slide {
        max-width: 1440px;
        max-height: 683px;
    }

    .c-design__content {
        max-width: 1750px;
        width: 100%;
        padding: 0 85px;
    }

    .c-design__left {
        width: 60%;
        padding-left: 15%;
        margin-top: 2%;
    }

    .c-design__hr {
        display: block;
        background-color: $text-color;
        width: 57px;
        height: 0.25px;
    }

    .c-design__subtitle {
        font-weight: 400;
        font-size: 2.7rem;
        line-height: 1.7;
        color: $text-color;
        letter-spacing: 0;
    }

    .c-design__desc {
        font-weight: 300;
        font-size: 1.9rem;
        line-height: 1.7;
        color: $text-color;
        letter-spacing: 0;
    }

    .c-design__right {
        width: 40%;
        margin-top: 8%;
    }

}

.c-plan {
    margin: 0 auto;
    max-width: 1200px;

    .c-plan__title {
        text-align: center;
    }

    .c-plan__col {
        width: 50%;
        position: relative;
    }

    .c-plan__item--svg {
        width: 44px;
        margin-left: 46%;
    }

    .c-plan__detail {
        width: 1200px;
        margin: 0 auto;
        padding: 0 61px;
        display: flex;
    }

    .c-plan__detail--item {
        width: 33%;
        text-align: center;
        font-weight: 300;
        font-size: 2.2rem;
        line-height: 1.7;
        letter-spacing: 0;
    }

    .c-plan__tr {
        padding: 31px 0 12px 10px;
        border-bottom: 1px solid #cbcbcb;
        font-family: $main-fonts;
        font-weight: 300;
    }

    .c-plan__th {
        width: 20%;
        font-size: 2.5rem;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-plan__td {
        width: 80%;
        font-size: 2.5rem;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-plan__tag {
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: 0;
        display: inline-block;
        padding: 3px 13px 7px;
        border: 1px solid #cbcbcb;
        border-radius: 4px;
        margin-right: 20px;
    }
}

.c-finance {
    padding: 94px 323px 109px;
    margin: 0 auto;
    background-color: #ededed;

    .c-finance__title {
        text-align: center;
    }

    .c-finance__subtitle {
        display: block;
        margin: 85px auto 46px;
        background-color: $text-color;
        color: #fff;
        font-size: 3rem;
        letter-spacing: 0;
        line-height: 1.7;
        padding: 10px 60px 15px;
        text-align: center;
        width: 409px;  
    }

    .c-finance__col {
        position: relative;
        width: 604.5px;
        background-color: #fff;
        padding: 75px 80px 42px 90px;

        &:last-child {
            &::after {
                content: url("assets/img/iconpayment.svg");
                width: 206px;
                position: absolute;
                z-index: 1;
                top: -3%;
                right: -10%;

            }
        }
    }

    .c-finance__listing {
        font-weight: 400;
        font-size: 2.2rem;
        letter-spacing: 0;
        line-height: 1;
        margin-bottom: 58px;
    }

    .c-finance__text {
        font-weight: bold;
        font-size: 2.6rem;
        line-height: 1;
        letter-spacing: 0;
    }

    .c-finance__number {
        color: #7a89a8;
        font-weight: bold;
        font-size: 9rem;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-finance__unit {
        font-size: 3.6rem;
    }

    .c-finance__textnote {
        font-size: 2.2rem;
        color: $text-color;
        letter-spacing: 0;
        line-height: 1.7;
        font-weight: 400;
    }
}

.c-web {
    margin: 0 auto;
    padding: 80px 118px;

    .c-web__title {
        text-align: center;
    }

    .c-web__title--black {
        font-weight: 400;
        font-size: 3.4rem;
        letter-spacing: 0;
        line-height: 2;
        color: $text-color;
    }

    .c-web__title--blue {
        font-family: "Noto Serif JP", sans-serif;
        font-weight: 400;
        font-size: 4.6rem;
        letter-spacing: 2px;
        line-height: 2;
        color: $text-blue;
    }

    .c-web__subtitle {
        color: $text-color;
        font-weight: 300;
        font-size: 2.7rem;
        letter-spacing: 0;
        line-height: 1.5;
        text-align: center;
    }

    .c-web__step {
        width: 286px;
        padding: 50px 23px;
        position: relative;
        color: #fff;

        &:nth-child(1) {
            background-color: $text-color;
        }

        &:nth-child(n+2) {
            background-color: #565f64;
        }

        &:nth-child(5) {
            background-color: #7a89a8;
        }
    }

    .c-web__step--icon {
        width: 40px;
        margin: 0 40%;
    }

    .c-web__step--step {
        text-align: center;
        font-family: $main-fonts;
        font-weight: 400;
        font-size: 2.1rem;
        letter-spacing: 0;
        line-height: 1.7;
    }

    .c-web__step--desc {
        text-align: center;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0;
        line-height: 1.7;
        border-top: 0.5px solid #fff;
    }

    .c-web__step--svg {
        width: 8px;
        position: absolute;
        top: 50%;
        right: -12%;
    }

    .c-web__notify {
        max-width: 1200px;
        margin: 125px auto 0;
        border: 1px solid $text-color;
    }

    .c-web__top {
        background-color: $text-color;
        padding: 50px 90px;
    }

    .c-web__top--btn {
        border-radius: 23px;
        background-color: #fff;
        color: $text-color;
        font-family: $main-fonts;
        font-weight: bold;
        font-size: 2.3rem;
        line-height: 1;
        letter-spacing: 0;
        padding: 15px 35.5px;
    }

    .c-web__top--title {
        font-weight: 300;
        font-size: 3.2rem;
        letter-spacing: 1.4px;
        line-height: 1.7;
        color: #fff;
    }

    .c-web__top--desc {
        font-weight: 300;
        font-size: 2rem;
        letter-spacing: 0;
        line-height: 1;
        color: #fff;
    }

    .c-web__table {
        padding: 29px;
    }

    .c-web__table--td {
        width: 228px;
        border-right: 1px solid #aeaeae;

        &:nth-child(-n+5) {
            border-bottom: 1px solid #aeaeae;
        }

        &:nth-child(5),
        &:nth-child(10) {
            border-right: 0;
        }
    }

    .c-web__item--img {
        width: 50%;
        margin: 20px 57px 15px;
    }

    .c-web__item--text {
        text-align: center;
        color: $text-color;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 0;
        line-height: 1.5;
    }
}

.c-contact {
    .c-contact__content {
        margin-bottom: 92px;
    }

    .c-contact__map {
        width: 50%;
    }

    .c-contact__info {
        width: 50%;
        background-color: #ededed;
        padding: 130px 180px 125px;
    }

    .c-contact__title {
        text-align: center;
        color: #000;
        font-family: "Oswald", sans-serif;
        font-size: 4.8rem;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .c-contact__hr {
        display: block;
        background-color: #000;
        width: 74px;
        height: 1px;
        margin: 15px auto 30px;

    }

    .c-contact__desc {
        text-align: center;
        font-weight: 300;
        font-size: 2.8rem;
        letter-spacing: 0;
        line-height: 1;
    }

    .c-contact__table {
        margin-top: 85px;
        max-width: 500px;
    }

    .c-contact__tr {
        margin-bottom: 12px;
    }

    .c-contact__th {
        width: 24%;        
    }

    .c-contact__th--text {
        background-color: #565f64;
        color: #fff;
        font-size: 2.5rem;
        letter-spacing: 0;
        line-height: 1;
        font-weight: 400;
        text-align: center;
        padding: 8px 0;
        display: block;
    }

    .c-contact__td {
        width: 70%;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 1.5;
        letter-spacing: 0;
    }
}
