<%- include('_layouts/layout', { title: 'COCO MGM Design' }); -%>

  <!-- @meta -->
  <meta name="description" content="Home page">
  <!-- @@meta -->

  <!-- @content -->
  <main class="p-top">
    <div class="l-container">
      <!-- Start section case-->
      <section class="c-case">
        <h2 class="c-case__title">
          家づくりの、こんな<span class="c-case__title c-case__titleedit">不安やお悩みないですか？</span>
        </h2>
        <div class="c-case__row c-flex">
          <div class="c-case__col">
            <h3 class="c-case__num">01</h3>
            <div class="c-case__textbox">
              <p class="c-case__text c-case01">子育てにはどんな家が良いんだろう？</p>
            </div>
          </div>
          <div class="c-case__col">
            <h3 class="c-case__num c-case__num--02">02</h3>
            <div class="c-case__textbox">
              <p class="c-case__text c-case02">理想の家って実現できるの？</p>
              <div class="c-case__label">
                <span class="c-case__label--text">いろいろとこだわった</span>
              </div>
            </div>            
          </div>
          <div class="c-case__col">
            <h3 class="c-case__num c-case__num--03">03</h3>
            <div class="c-case__textbox">
              <p class="c-case__text c-case03">暮らしのスタイルがイメージできない</p>
              <div class="c-case__label">
                <span class="c-case__label--text c-case__label--textedit">家は建てたいけど</span>
              </div>
            </div>            
          </div>
        </div>
      </section>
      <!-- End section case-->
      <!-- Start section model-->
      <section class="c-model">
        <h2 class="c-model__subtitle">
          はじめての家づくりが具体的に進む、ご来店の<span class="c-model__subtitle c-model__subblue">3&nbsp;つのメリット</span>
        </h2>
        <p class="c-model__title">WELCOME TO MODELHOUSE</p>
        <div class="c-model__list">
          <div class="c-model__item c-flex">
            <div class="c-model__colleft">
              <img class="c-model__merit" src="./assets/img/iconmerit1.svg" alt="merit 1">
              <h3 class="c-model__heading">実物を見て触って<span class="c-model__heading c-model__heading--blue">体感</span>できます!</h3>
              <p class="c-model__text">カタログや資料だけではなく、高気密・高断熱の木
                の住まいや、家事動線や収納スペースの女性目線で
                叶った工夫など、実際に見て触ってご体感いただけ
                ます。 </p>
            </div>
            <div class="c-model__colright">
              <img class="c-model__img" src="./assets/img/merit1.jpg" alt="実物を見て触って体感できます!">
            </div>
          </div>
          <div class="c-model__item c-flex c-row--reverse">
            <div class="c-model__colleft">
              <img class="c-model__merit" src="./assets/img/iconmerit2.svg" alt="merit 2">
              <h3 class="c-model__heading">土地情報<span class="c-model__heading--blue">1000件以上</span>が見放題!</h3>
              <p class="c-model__text">愛媛県の最新の土地情報から、学区・最寄りの駅な
                どご希望の条件でお好きな土地をご覧いただけます。
                さらに、地盤予測や付帯工事費なども含め、建てた
                後も安心して暮らせる総合的な土地のアドバイスを
                いたします。</p>
            </div>
            <div class="c-model__colright">
              <img class="c-model__img" src="./assets/img/merit2.jpg" alt="土地情報1000件以上が見放題!">
            </div>
          </div>
          <div class="c-model__item c-flex">
            <div class="c-model__colleft">
              <img class="c-model__merit" src="./assets/img/iconmerit3.svg" alt="merit 3">
              <h3 class="c-model__heading">お客様に合った<span class="c-model__heading--blue">住宅ローン</span>を診断!</h3>
              <p class="c-model__text">住宅ローンアドバイザーの資格を持ったスタッフが、
                住宅ローン提携5大金融機関からお客様に合った適
                正住宅ローンを診断いたします。</p>
            </div>
            <div class="c-model__colright">
              <img class="c-model__img" src="./assets/img/merit3.jpg" alt="お客様に合った住宅ローンを診断!">
            </div>
          </div>
        </div>
      </section>
      <!-- End section model-->
      <!-- Start section house-->
      <section class="c-house">
        <div class="c-house__content">
          <h2 class="c-house__title">
            recommended point
            <span class="c-house__desc">イベント・見学会の<span class="c-house__desc--blue">見どころ！</span></span>
          </h2>
          <div class="c-house__list c-flex">
            <% if (typeof houses != 'undefined') { %>
              <% houses.main && houses.main.forEach(house => { %>
                <div class="c-house__item">                
                  <img class="c-house__img" src="<%= house.img %>" alt="<%= house.title %>">
                  <h3 class="c-house__name"><%= house.title %></h3>     
                  <p class="c-house__info"><%- house.info %></p>           
                </div>
              <% }) %>
            <% } %>
          </div>
        </div>
        <a class="c-house__voucher">
          <img src="./assets/img/voucher.jpg" alt="絶対オトク！1,000円分のQUOカードプレゼント">
        </a>
      </section>
      <!-- End section house-->
      <!-- Start section design-->
      <section class="c-design">
        <div class="c-design__slick">
          <div class="c-design__slider">
            <% if (typeof slider != 'undefined') { %>
              <% slider.main && slider.main.forEach(slide => { %>
                <img class="c-design__slider--slide" src="<%= slide.url %>" alt="<%= slide.alt %>">
              <% }) %>
            <% } %>
          </div>
        </div> 
        <div class="c-design__content c-flex">
          <div class="c-design__left">
            <h2 class="c-design__title">design</h2>
            <span class="c-design__hr"></span>
          <h3 class="c-design__subtitle">シンプルで美しいデザイン、<br>
            いつまでも・誰にでも愛される空間に。</h3>
            <p class="c-design__desc">長く愛される「居心地の良い場所」はシンプルなルールで作られるもの。<br>
              壁の色を白で統一したシンプルな間取り。<br>
              余計な装飾は施さず、こだわりの家具やインテリアを<br>
              あなた色に合わせてコーディネートを楽しめる<br>
              年齢や性別を意識しない誰にでも愛される空間です。</p>
          </div>
          <div class="c-design__right">
            <iframe width="702" height="390" src="https://www.youtube.com/embed/GtH-3_jjTvQ" title="北欧のように暮らす家" allowfullscreen></iframe>
          </div>
        </div>
      </section>     
    </div>
  </main>
  <!-- @@content -->