<footer class="c-footer">
  <div class="l-container">
    <div class="c-footer__main">
      <a href="<%= BASE_URL %>" class="c-footer__logo"><img src="../assets/img/logo.png" alt="COCO MGM DESIGN"></a>
    </div>
  </div>
</footer>