<header class="c-header">  
  <div class="c-header__banner">
    <div class="c-header__inner">
      <a href="<%= BASE_URL %>index.html"><img class="c-header__logo" src="./assets/img/logo.png" alt="COCO MGM"></a>
      <h1 class="c-header__text">「こ<span class="c-header__text c-header__txtmiddle">んな家に住みたい」</span><span class="c-header__text c-header__txtlast">をカタチにした家</span></h1>
      <img class="c-header__open" src="./assets/img/nowopen.png" alt="NOW OPEN">
    </div>
  </div>
</header>
